{% extends 'base-templates/base.html' %}

{% block title  %}
    Home
{% endblock %}

{% block body %}

    <H2>Welcome to Farms DB {{division.id}}</H2>
    <br>
    <br>
    <form class="form-inline my-2 my-lg-0" action="" method="get">
        <input class="form-control mr-sm-2" type="search" placeholder="Search..." aria-label="Search" name="q" >
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    {% comment %} <form action="" method="get">
        <input name="q" type="text" placeholder="Search...">
    </form> {% endcomment %}
    <br>
    <br>
    
    <table>
    <thead>
    <tr>
        <th>Farm Name</th> 
        <th>Division Name </th>
        <th>Division Code</th>
    <tr>
    <thead>
    {% for farm in farms %}
    <tr>
    <td>{{farm.farm_name }}</td>
    <td>{{farm.division.division_name}}</td>
    <td>{{farm.division.division_code}}</td>
    </tr>
    {% endfor %}
    </table>
    <br>
    <br>
    <ul>
    <li><a href ='{%url 'farms'%}'>All farms</a></li>
    <li><a href ='{%url 'divisions'%}'>All divisions</a></li>
    </ul>
{% endblock body %} 